.btn {
    padding: 8px 24px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
}

.btn:hover {
    background-color: white !important;
    color: #007a4d !important;
    border: 2px solid #007a4d;
}

.btn:active,
.btn:focus {
    box-shadow: none;
}
/* to use when want to make specific to screen size*/

@media (max-width: 768px) {
    .sub_Nav {
        display: none;
    }
}

.nav-link:hover {
    background-color: #007a4d !important;
    color: white !important;
    border: 2px solid #007a4d;
}

.nav{
    text-align: left !important;
}

.nav-link {
    color: #007a4d;
    border: 2px solid transparent;
    
}

.countDown {
    margin: 25px ;
    max-width: 768px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    background-color: #007A4D;

}

.welcomeMessage{
    text-align: center;
    padding: 7%;
}

.history{
    text-align: center;
    padding-left: 7% ;
    padding-right: 7%;
    padding-bottom: 7%;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus{
    border:none !important;
    
}

@media(max-width: 500px){
#agenda{
    width: 90% !important;
}

}

.videoModal{
    margin: 20px;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
}


h1 {
    font-family: helvetica;
    font-weight: 900;
    font-size: 75px;
    margin-top: -25px;
}

h2 {
    font-family: helvetica;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;
}