<body>
   
    <div class="container">
        <img src="assets/img/Miller Logo Diamond.png" class="shadow" alt="Miller diamond"
            style="width: 100%; border-radius: 10px; margin-top: 5%; margin-bottom: 5%;">
    </div>

    <div class="container-fluid welcomeMessage ">
        <div class="card-header">
            <h1>Welcome to Miller's Leadership Meeting</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class=col-4><img src="assets/img/henry-brown-FB.jpg" alt="" width="100%"></div>
                <div class="col-7" style=" text-align: left; padding-right:5%; padding-left: 5%;">
                    <p>We are so excited to welcome you to this year’s Leadership Meeting which will be fully virtual
                        for
                        the
                        first
                        time ever! This interactive, day long event will challenge you to adopt a “Growth Mindset” while
                        creating
                        excitement for the future. Just as diamonds are formed under pressure, our company and our
                        employees
                        have
                        shown how resilient we can be, especially in a year marked by unprecedented pressure. Makes our
                        Miller
                        diamond seem even cooler now, doesn’t it?</p>

                    <button type="submit" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#videoModal"
                        style="background-color: #007A4D; color: white; ">Join
                        Now </button>

                </div>
            </div>
        </div>


    </div>
    </div>






    </div>

    <div class="container-fluid history">
        <div class=" card-header">
            <h1> Miller Electric Company History</h1>
        </div>
        <div class="card-body">
            <p>
                Founded in 1928, Miller Electric Company has grown from a local electrical contractor to a national
                company
                with
                over 2,000 employees. From our headquarters in Jacksonville, FL and our network of 16 branch
                offices, we
                provide
                comprehensive electrical and technology solutions to local and national clients in a diversified
                range of
                industries. Our company has expanded its services beyond traditional electrical contracting to
                include
                systems
                integration, connected communities, building automation, business continuity, and energy &
                sustainability
                services. Miller Electric Company is a family business that remains committed to its stewardship
                culture and
                reinvesting in the long-term health and sustainability of its communities.
            </p>
        </div>
    </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <footer class="py-3 my-4 nav-pills">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="landing.html" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="profile.html" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="modal"
                                data-bs-target="#videoModal">Join Now</a>
                        <li class="nav-item"><a href="schedule.html" class="nav-link">Schedule</a></li>
                        <li class="nav-item">
                            <a href="mailto:itsupport@mecojax.com?subject=Requesting%20Leadership%20Meeting%20Assistance"
                                class="nav-link">IT
                                Support</a>
                        </li>
                    </ul>
                    <p class="text-center text-muted">© 2021 Miller Electric Company, Inc</p>
                </footer>
            </div>
        </footer>
    </div>
</body>

</html>
<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModal">Miller Leadership Meeting Livestream</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <iframe id="millerVideo" width="100%" height="360" src="https://www.youtube.com/embed/3wlHvLlPfLs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>


    </div>
</div>
</div>
</div>>

<script>
    $(document).ready(function () {
        var url = $("#millerVideo").attr('src');
        $("#videoModal").on('hide.bs.modal', function () {
            $("#millerVideo").attr('src', '');
        });
        $("#videoModal").on('show.bs.modal', function () {
            $("#millerVideo").attr('src', url);
        });
    });

    // $("#videoModal").on('hidden.bs.modal', function (e) {
    //     $("#videoModal iframe").attr("src", $("#videoModal iframe").attr("src"));
    // });
</script>

<!--End Modal--