

<body>
    
    <div class="container">
        <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
            <div class="col-12 margin:auto" style="text-align: center;">
                <img id="agenda" src="assets/img/agenda with glasses.jpg" alt="meeting agenda"
                    style="width: 70%; border-radius: 10px;">
            </div>

        </div>
        <div class="container">
            <div class="card-header">
                <h3>8:30am - 12:00pm Morning Sessions</h3>
            </div>

            <div class="card-body">
                <p>
                <h5>Opening Remarks and 2020 Financial Recap</h5>
                <br>
                Henry Brown, CEO
                </br>
                <br>

                Kyle Hensley, CFO
                </br>

                </p>

                <strong>MCs:</strong> Patty Keenan, Chief Learning Officer and Alex Willis, CEO of Leadership Surge
                </p>

                <h5>Business Session 1</h5>
                Moderator: David Stallings, Chief Technology Officer
                Panelists: James MacDonald, Donnie Smith, Eddie O'Halloran, Andy Bowman, Farshid Pourgolafshan
                Topic: Future Business Opportunities
                Overview: Miller Electric's future is bright. Join our executives and leaders to learn more about how we
                will power the possibilities of Electrified Vehicle Charging Stations, Connected Cities, Integrated
                Systems, and Building Technologies.

                Our Values of Stewardship and Community
                Susan Walden, Executive VP
                Daniel Brown, Chief Operations Officer
                Speaker from United Way, Jackie Hadley

                Business Session 2
                Speaker: Alex Willis, CEO, Leadership Surge
                Topic: Diversity, Equity, and Inclusion
                Overview: Miller's Executive team has been working with Alex Willis for several months on this important
                business topic. We will learn why DE&I is critical to our future business success as well as what we are
                already doing and what we will do in the future.

                Business Session 3
                Moderator: Ed Witt, Jr., Chief Construction Officer
                Panelists: Kevin Hebert, Alan Creel, Brian Seay, Gabby Cadieux
                Topic: Case Study/Panel on Major Projects: Pushing the Limits of Construction Innovation
                Overview: We will learn from the experts how Miller has been pushing the limits of construction
                innovation on big jobs in the data center and healthcare space, and how our VDC/BIM teams have been
                helping us lead the way. You will come away with new ideas to apply to your own jobs as well as a better
                understanding of what is driving our success in these critical markets.
            </div>


        </div>
      
</body>

</html>